Repository pgayee694/PKIIPS, pull requests merged in 2020-05, with the labels that each got.

#58 setup node toggling
  oracle/Assets/Scripts/DelphiClient.cs
  oracle/Assets/Scripts/Edge.cs
  oracle/Assets/Scripts/Exit.cs
  oracle/Assets/Scripts/Floor.cs
  oracle/Assets/Scripts/GraphComponent.cs
  oracle/Assets/Scripts/Hallway.cs
  oracle/Assets/Scripts/Node.cs
  oracle/Assets/Scripts/Node.cs.meta
  oracle/Assets/Scripts/Room.cs
  oracle/Assets/Scripts/StatisticsBox.cs
Labels: oracle

#63 Implemented constraint collection
  delphi/app/routes.py
  delphi/app/tests/test_upload_constraint_data.py
Labels: delphi

#64 Delphi delivery system
  delphi/app/plugins/example_plugins.py
  delphi/app/routes.py
  delphi/app/tests/test_get_model_data.py
  delphi/app/tests/test_model_engine.py
Labels: delphi

#69 Oracle finish pki visual
  oracle/Assets/Materials/Path.mat
  oracle/Assets/Materials/Path.mat.meta
  oracle/Assets/Prefabs/FirstFloor.prefab
  oracle/Assets/Prefabs/SecondFloor.prefab
  oracle/Assets/Scenes/Main.unity
  oracle/Assets/Scripts/DelphiClient.cs
  oracle/Assets/Scripts/Floor.cs
  oracle/Assets/Scripts/GraphComponent.cs
  oracle/Assets/Scripts/GraphComponentStatus.cs
  oracle/Assets/Scripts/PathManager.cs
  oracle/Assets/Scripts/PathManager.cs.meta
  oracle/Assets/Scripts/UIManager.cs
  oracle/ProjectSettings/TagManager.asset
Labels: oracle

#73 Added seer people count mock plugin and changed graph plugin to return an easier JSON
  delphi/app/__init__.py
  delphi/app/model_engine.py
  delphi/app/plugins/graph_plugin.py
  delphi/app/routes.py
  delphi/app/tests/test_get_model_data.py
  delphi/app/tests/test_graph.py
  delphi/app/tests/test_upload_sensor_data.py
  oracle/Assets/Scripts/DelphiClient.cs
  seers/plugins/people_count.py
  seers/seer.py
  seers/seer_config.ini
Labels: delphi, seer
